body {
      background: #333333 url(../images/batman4.png);
      margin: 0px;
      color: #010101;
}

.content {
    padding-top: 150px;
    padding-bottom: 60px;
}

.row-centered {
    text-align:center;
    margin-bottom:10px;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.home-text {
    font-family:'Comic Sans MS';
    font-size:20px;
}

.home-header {
    font-family:'Comic Sans MS';
    font-size:50px;
}